@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mapboxgl-popup-content {
  background-color: rgb(31 41 55 / 0.5) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: rgb(255 255 255 / 1);
  padding: 0.25rem !important;
  margin-bottom: 1.5rem;
}

.mapboxgl-popup-tip {
  display: none;
}

.borderless-table {
  border-collapse: collapse;
}

.borderless-table td:not(:last-child) {
  padding-right: 1rem;
}

.borderless-table th:not(:last-child) {
  padding-right: 1rem;
}

.borderless-table td, .borderless-table th {
  padding: 0px;
  text-align: left;
}

.borderless-table th {
  font-weight: bold;
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
