---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: '.bun-version'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Prettier
        run: NODE_OPTIONS="--experimental-strip-types" bun --bun run prettier:check

      - name: Run ESLint
        run: bun --bun run lint

      - name: Run stylelint
        run: bun --bun run stylelint

      - name: Build website
        run: bun --bun run build
